<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795158235715-364n8ragaj7d5h587inn6c5darui4h1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795158235715-364n8ragaj7d5h587inn6c5darui4h1l</string>
	<key>API_KEY</key>
	<string>AIzaSyCOQhP-G0uwUwcepaUOnsRAcFmZaOBxo-0</string>
	<key>GCM_SENDER_ID</key>
	<string>795158235715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingCentre</string>
	<key>PROJECT_ID</key>
	<string>shopping-c344b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-c344b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795158235715:ios:99c1fd26e62ae3420362f6</string>
</dict>
</plist>